<!-- Start of the section pagignation -->
       	<section class="pagignation">
       	
       		<ul>
       			<li class="page-numbers"><a class="pi-small pi-warn pi-3d" href="#">1</a></li>
       			<li class="page-numbers"><a class="pi-small pi-warn pi-3d" href="#">2</a></li>
       			<li class="page-numbers"><a class="pi-small pi-warn pi-3d" href="#">3</a></li>
       		</ul>

       	</section>
       <!-- /end of the section pagignation
        -->

        <!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>