<!-- Scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="assets/js/jquery.js"><\/script>')</script>

<!-- Add custom scripts here -->
<!-- Bootstrap js -->
<script type="text/javascript" src="{{"js/bootstrap.min.js" | prepend: site.baseurl}}"></script>

<!-- Parallax js -->
<script type="text/javascript" src="{{"jquery.localscroll-1.2.7-min.js" | prepend: site.baseurl}}"></script>
<script type="text/javascript" src="{{"jquery.parallax-1.1.3.js" | prepend: site.baseurl}}"></script>
<script type="text/javascript" src="{{"jquery.scrollTo-1.4.2-min.js" | prepend: site.baseurl}}"></script>
<script src="{{"js/snippet.js" | prepend: site.baseurl}}"></script>
<!-- /end of parallax js -->



<!-- Add your google analytics here -->
<!-- Change the XXXXXXX section in your site id -->
<script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-XXXXX-X');ga('send','pageview');
</script>

	