.about-header{


  margin-left: 38%;
  margin-top: 6%;
  img{
    margin: 5% 8% ;
  }

  h2{
    font-family: "Monostate", sans-serif;
    font-weight: 900;
    font-size: 2.5em;
  }
  @media screen and (max-width: 360px){
    margin-left: 27%;
    img{
      margin:5% 5%;
    }
    h2{
      margin-left: 0%;
      font-size: 1.5em;
    }

  }

}

.about-bio{
  margin:  5% 10%;
  font-size: 1.3em;
  font-family: "Monostate", sans-serif;
  font-weight: 200;

}